@import "src/styles/commons";

.cart {
    @include page-structure;
    &__container {
        @include container;
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        text-transform: uppercase;
        margin-top: 50px;
    }
    &__list {
        margin: 50px 0;
        display: flex;
        flex-direction: column;
    }

    &__buy {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__sum {
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 735px;
    height: 424px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    gap: 30px;
    & h3 {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
    }
    & p {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: $color_gray;
    }
}

.close {
    cursor: pointer;
    align-self: flex-end;
    position: relative;
    height: 17px;
    width: 17px;
    &::after,
    &::before {
        position: absolute;
        content: "";
        height: 17px;
        border-left: 2px solid $color_orange;
    }
    &::after {
        transform: translateX(8.5px) rotateZ(45deg);
    }
    &::before {
        transform: translateX(8.5px) rotateZ(-45deg);
    }
}

.modalcheck {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: $color_orange;
    width: 60px;
    height: 60px;
}

@media (max-width: 1499px) {
    .cart {
        margin-top: 93px;
        &__container {
        }
        &__list {
            align-items: center;
        }
        &__title {
            margin-top: 25px;
        }
    }
}

@media (max-width: 1023.98px) {
    .cart {
        margin-top: 103px;
        padding: 20px 0 40px 0;
    }
}

@media (max-width: 460px) {
    .cart {
        &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
        }
        &__sum {
            order: 1;
            margin-bottom: 25px;
        }
        &__buy {
            flex-direction: column;
            & .btn {
                order: 2;
                width: 280px;
                height: 80px;
            }
        }
    }
}
