@import "src/styles/commons";

.container {
    position: relative;
}

.select {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    padding-right: 12px;
}

.arrow {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-bottom: 0;
    border-top: 6px solid $color_gray;
}
