@import "src/styles/commons";

.catalog {
    @include page-structure;
    &__container {
        @include container;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        padding-left: 8%;
    }

    &__titleAndSort {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        & .title {
            font-weight: 500;
            font-size: 40px;
            line-height: 1.2;
            text-transform: uppercase;
            margin-top: 50px;
        }

        & .sort {
            display: flex;
            font-weight: 500;
            font-size: 16px;
            line-height: 2;
            gap: 10px;
        }

        & .select {
            font-weight: 400;
            font-size: 16px;
            line-height: 2;
            color: $color_gray;
        }
    }

    &__itemsAndFilters {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.careTypeTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
    width: 100%;
    &__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        vertical-align: middle;
        padding: 18px;
        min-width: 100px;
        max-width: 140px;
        height: 70px;
        box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.1);
        color: $color_gray;
        border-radius: 10px;
        cursor: pointer;
        transition: box-shadow 150ms ease-in-out;
        &:hover {
            box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.1), inset 0px 0px 5px 2px rgba(43, 28, 1, 0.2);
        }
        &_active {
            box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.1), inset 0px 0px 15px 2px rgba(43, 28, 1, 0.4);
            &:hover {
                box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.1), inset 0px 0px 15px 2px rgba(43, 28, 1, 0.4);
            }
        }
    }
}

.careTypeLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 20px;
    &__item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: left;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
        padding: 10px;
        transition: box-shadow 150ms ease-in-out, border-radius 150ms ease-in-out;
        &:first-of-type {
            margin-top: -10px;
        }
        &:last-of-type {
            border-bottom: none;
        }
        &:hover {
            box-shadow: inset 0px 0px 5px 2px rgba(43, 28, 1, 0.2);
            border-radius: 10px;
        }
        &_active {
            box-shadow: inset 0px 0px 10px 2px rgba(43, 28, 1, 0.4);
            border-radius: 10px;
            &:hover {
                box-shadow: inset 0px 0px 10px 2px rgba(43, 28, 1, 0.4);
                border-radius: 10px;
            }
        }
    }
}

.filters {
    display: flex;
    flex-direction: column;
    width: 240px;
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    & .search {
        width: 240px;
        & input {
            width: 160px;
        }
    }
    &__price {
        margin-bottom: 30px;
        & label {
            display: inline-block;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 15px;
        }
    }

    &__mnfct {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px dashed rgba(43, 28, 1, 0.3);
    }

    &__applyDelete {
        display: flex;
        justify-content: space-between;
        & img {
            margin-left: 0;
        }
        & button {
            display: inline-block;
            &:first-of-type {
                width: 170px;
            }
            &:last-of-type {
                width: 60px;
            }
        }
    }
}

.price__inputs {
    & input {
        width: 100px;
        appearance: none;
        height: 23px;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.25;
        text-align: center;
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        border-radius: 1000px;
        &:first-of-type {
            margin-right: 10px;
        }
        &:last-of-type {
            margin-left: 10px;
        }
    }
}

.mnfct {
    &__title {
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-height: fit-content;
        height: 84px;
        overflow-y: scroll;
        transition: height 500ms ease-in-out;
    }

    &__item {
        & label {
            display: flex;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            color: $color_gray;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        & input {
            appearance: none;
            background-color: transparent;
            margin: 0;
            margin-right: 10px;
            font: inherit;
            color: currentColor;
            width: 10px;
            height: 10px;
            border: 1px solid currentColor;
            border-radius: 2px;
            @include center-content;
            cursor: pointer;
            &::before {
                content: "";
                width: 6px;
                height: 6px;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em $color_orange;
                border-radius: 1px;
            }
            &:checked::before {
                transform: scale(1);
            }
        }
        & span {
            margin-left: 5px;
            color: currentColor;
            font-weight: 400;
            font-size: 10px;
            line-height: 2;
            align-self: flex-end;
        }
    }
}

.showAll {
    display: inline-block;
    width: fit-content;
    background-color: transparent;
    padding-right: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 15px;
    &__container {
        position: relative;
        padding-right: 12px;
    }
}

.arrow_down {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-bottom: 0;
    border-top: 6px solid $color_gray;
}

.arrow_up {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top: 0;
    border-bottom: 6px solid $color_gray;
}

.search {
    outline: 1px solid transparent;
    transition: background-color 150ms ease-in-out, outline 150ms ease-in-out;
    &:has(input:focus) {
        background-color: rgba(237, 237, 237, 0.4);
        outline: 1px solid $color_orange;
    }
    &:has(button:active) {
        outline: 1px solid transparent;
    }
    & button {
        &:hover {
            background-color: #ffaa00;
        }
        &:active {
            box-shadow: inset 0px 0px 15px 2px rgba(43, 28, 1, 0.3);
        }
    }
}

.back {
    align-self: flex-start;
}

.filterDropdown {
    position: relative;
    @include center-content;
    height: 32px;
    width: 32px;
    background-color: rgba(255, 202, 101, 0.3);
    border-radius: 50%;
    & div {
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        position: absolute;
        flex-shrink: 0;
        height: 8px;
        width: 8px;
        border-top: 1px solid $color_gray;
        border-left: 1px solid $color_gray;
        transform: rotate(-135deg);

        left: 12px;
    }
}

.filterDropdownActive {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    & div {
        transform: rotate(45deg);
    }
}

.nomatch {
    &_shop {
        font-size: 30px;
        margin-right: clamp(20px, 25% + 1px, 300px);
    }
    &_mnfct {
        font-size: 12px;
        margin-left: 18px;
    }
}

@media (max-width: 1499px) {
    .catalog {
        margin-top: 93px;
    }
    .careTypeTop {
        flex-wrap: wrap;
        &__item {
            flex: 0 1 50%;
        }
    }
}

@media (max-width: 1415px) {
    .catalog__items {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1023.98px) {
    .catalog {
        margin-top: 103px;
        padding-top: 20px;
        padding-bottom: 50px;
        &__items {
            grid-template-columns: 1fr;
        }
        &__titleAndSort {
            & .title {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                text-transform: uppercase;
                margin: 25px 0 25px 0;
            }
            & .sort {
                font-size: 12px;
                margin-bottom: 5px;
            }
            & .select {
                font-size: 12px;
            }
        }
    }
    .careTypeTop {
        display: none;
    }
}

@media (max-width: 615px) {
    .catalog {
        &__container {
            display: flex;
            flex-direction: column;
        }
        &__itemsAndFilters {
            flex-direction: column;
            align-items: center;
        }
        &__items {
            padding-left: 0;
        }
    }

    .sort {
        display: flex;
        align-self: flex-start;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: 16px;
        line-height: 2;
        gap: 5px;
        &__title {
            flex: 1 0 100%;
            width: 100%;
        }
        margin: 20px 0;
    }

    .select {
        font-weight: 400;
        font-size: 16px;
        line-height: 2;
        color: $color_gray;
    }
    .filters {
        width: 100%;
        &__title {
            position: relative;
            display: flex;
            gap: 40px;
            align-items: center;
        }
        &__applyDelete {
            justify-content: flex-start;
            gap: 15px;
            margin-bottom: 20px;
        }
        &__container {
            height: 0;
            overflow-y: hidden;
            transition: height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }
    .careTypeLeft {
        &__item {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.2;
            text-align: left;
            text-transform: unset;
            width: 100%;
            cursor: pointer;
            transition: box-shadow 150ms ease-in-out, border-radius 150ms ease-in-out;
            &:first-of-type {
                margin-top: -10px;
            }
            &:hover {
                box-shadow: inset 0px 0px 5px 2px rgba(43, 28, 1, 0.2);
                border-radius: 10px;
            }
            &_active {
                box-shadow: inset 0px 0px 10px 2px rgba(43, 28, 1, 0.4);
                border-radius: 10px;
                &:hover {
                    box-shadow: inset 0px 0px 10px 2px rgba(43, 28, 1, 0.4);
                    border-radius: 10px;
                }
            }
        }
    }
}
