@import "src/styles/commons";

.catalog {
    flex: 1 1 auto;
    padding: 50px 0;
    &__container {
        @include container;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    &__titleAndSort {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        & .title {
            font-weight: 500;
            font-size: 40px;
            line-height: 1.2;
            text-transform: uppercase;
        }

        & .sort {
            display: flex;
            font-weight: 500;
            font-size: 16px;
            line-height: 2;
            gap: 10px;
        }

        & .select {
            font-weight: 400;
            font-size: 16px;
            line-height: 2;
            color: $color_gray;
        }
    }

    &__itemsAndFilters {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.careTypeTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
    width: 100%;
    &__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        vertical-align: middle;
        line-clamp: 2;
        padding: 18px;
        min-width: 100px;
        max-width: 140px;
        height: 70px;
        box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.1);
        color: $color_gray;
        border-radius: 10px;
        cursor: pointer;
        transition: box-shadow 200ms ease-in-out;
        &_active {
            box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.1), 0px 2px 20px 2px rgba(43, 28, 1, 0.3);
        }
    }
}

.careTypeLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 20px;
    &__item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: left;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
        padding: 10px;
        transition: box-shadow 200ms ease-in-out, border-radius 200ms ease-in-out;
        &:first-of-type {
            margin-top: -10px;
        }
        &:last-of-type {
            border-bottom: none;
        }
        &_active {
            box-shadow: 0px 2px 20px 2px rgba(43, 28, 1, 0.3);
            border-radius: 10px;
        }
    }
}

.filters {
    display: flex;
    flex-direction: column;
    width: 260px;
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    &__price {
        margin-bottom: 30px;
        & label {
            display: inline-block;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 15px;
        }
    }

    &__mnfct {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px dashed rgba(43, 28, 1, 0.3);
    }

    &__applyDelete {
        display: flex;
        justify-content: space-between;
        & img {
            margin-left: 0;
        }
        & button {
            display: inline-block;
            &:first-of-type {
                width: 190px;
            }
            &:last-of-type {
                width: 60px;
            }
        }
    }
}

.price__inputs {
    & input {
        width: 100px;
        appearance: none;
        height: 23px;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.25;
        text-align: center;
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        border-radius: 1000px;
        padding-left: 15px;
        &:first-of-type {
            margin-right: 10px;
        }
        &:last-of-type {
            margin-left: 10px;
        }
    }
}

.mnfct {
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-height: 100px;
        overflow: hidden;
        transition: 120ms height ease-in-out;
    }

    &__dropdown {
        max-height: unset;
        transition: 120ms height ease-in-out;
    }

    &__item {
        & label {
            display: flex;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            color: $color_gray;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        & input {
            appearance: none;
            background-color: transparent;
            margin: 0;
            margin-right: 10px;
            font: inherit;
            color: currentColor;
            width: 10px;
            height: 10px;
            border: 1px solid currentColor;
            border-radius: 2px;
            @include center-content;
            cursor: pointer;
            &::before {
                content: "";
                width: 6px;
                height: 6px;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em $color_orange;
                border-radius: 1px;
            }
            &:checked::before {
                transform: scale(1);
            }
        }
        & span {
            margin-left: 5px;
            color: currentColor;
            font-weight: 400;
            font-size: 10px;
            line-height: 2;
            align-self: flex-end;
        }
    }
}

.showAll {
    display: inline-block;
    width: fit-content;
    background-color: transparent;
    padding-right: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 15px;
    &__container {
        position: relative;
        padding-right: 12px;
    }
}

.arrow_down {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-bottom: 0;
    border-top: 6px solid $color_gray;
}

.arrow_up {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top: 0;
    border-bottom: 6px solid $color_gray;
}
