@import 'src/styles/commons';

.modalbackground {
    z-index: 999;
    @include center-content;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.5);
}
