@import "src/styles/commons";

.breadcrumbs {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: $color_gray;
    margin-bottom: 50px;
    & span {
        padding: 0 10px;
        border-right: 1px dashed rgba(63, 78, 101, 0.3);
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            opacity: 0.5;
            border-right: none;
        }
    }
}
