@import "src/styles/commons";

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 600px;
    width: 100%;
    box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0 22px 30px 22px;
    &__image {
        @include center-content;
        flex: 0 0 200px;
        height: 200px;
        width: 100%;
        margin: 42px auto 4px auto;
        & img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    &__imgerror {
        @include center-content;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        line-height: 1.5;
        background-color: rgba(0, 0, 0, 0.06);
        opacity: 0.2;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        padding: 5px;
    }

    &__quantity {
        flex: 0 0 15px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.3;
        color: $color_gray;
        & span {
            margin-left: 8px;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 1.3;
        font-weight: 500;
        & span {
            font-weight: 700;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    &__info {
        font-size: 14px;
        line-height: 1.5;
        & p {
            font-weight: 300;
            color: $color_gray;
        }

        & span {
            font-weight: 500;
        }
    }

    &__purchase {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 28px;
    }

    &__price {
        font-weight: 800;
        font-size: 16px;
        line-height: 1.3;
    }

    &__buy {
        width: 150px;
        height: 45px;
        font-weight: 700;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.15em;
        & img {
            margin-left: 6px;
        }
    }
}
