@import "src/styles/commons";

.redactForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    gap: 10px;
    width: 700px;
    & > * {
        font-weight: 800;
        font-size: 12px;
        line-height: 1.2;
        text-align: center;
        vertical-align: top;
        text-align: left;
    }
    & input {
        width: 600px;
    }
    & input,
    & textarea {
        margin-left: 5px;
        width: 500px;
        border: 1px solid black;
        padding: 2px;
    }
    & input[type="number"] {
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    & textarea {
        height: 150px;
    }
}

.descr {
    display: flex;
    align-items: flex-start;
    & textarea {
        width: 600px;
    }
}

.price {
    & input {
        width: 75px;
    }
}

.careTypes {
    columns: 3;
    &__item {
        width: 100%;
        & label {
            display: flex;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            color: $color_gray;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        & input {
            appearance: none;
            background-color: transparent;
            margin: 0;
            margin-right: 10px;
            font: inherit;
            color: currentColor;
            width: 10px;
            height: 10px;
            border: 1px solid currentColor;
            border-radius: 2px;
            @include center-content;
            cursor: pointer;
            &::before {
                content: "";
                width: 6px;
                height: 6px;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em $color_orange;
                border-radius: 1px;
            }
            &:checked::before {
                transform: scale(1);
            }
        }
    }
}

.formControls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & button {
        width: 100px;
        height: 40px;
        display: inline-block;
        &:first-of-type {
            margin-right: auto;
        }
    }
}
