@import "src/styles/commons";

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
    padding: 50px 0;
    width: 100%;
    &:first-of-type {
        border-top: 1px dashed rgba(63, 78, 101, 0.3);
    }
    &__image {
        flex-shrink: 0;
        height: 191px;
        width: 281px;
        & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__imgerror {
        @include center-content;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        line-height: 1.5;
        background-color: rgba(0, 0, 0, 0.06);
        opacity: 0.2;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        padding: 5px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        margin-right: 60px;
    }

    &__unit {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.3;
        color: $color_gray;
        & span {
            margin-left: 8px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 1.2;
        &:hover {
            text-decoration: underline;
        }
    }

    &__description {
        font-weight: 300;
        font-size: 12px;
        line-height: 1.5;
    }

    &__controls {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1 0 40%;
        & > * {
            border-left: 1px dashed rgba(63, 78, 101, 0.3);
            padding: 0 30px;
        }
    }

    &__quantity {
        flex: 0 0 5%;
        @include center-content;
    }

    &__changeAmount {
        flex-shrink: 0;
        width: 34px;
        height: 23px;
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        border-radius: 1000px;
    }

    &__incart {
        flex: 0 0 10%;
        & input {
            width: 80px;
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.3;
            color: $color_gray;
            -moz-appearance: textfield;
            text-decoration: underline;
        }
        & input::-webkit-outer-spin-button,
        & input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        & div {
            width: 80px;
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.3;
            color: $color_gray;
            cursor: pointer;
        }
    }

    &__price {
        @include center-content;
        flex: 0 0 240px;
        font-weight: 700;
        font-size: 30px;
        line-height: 1.3;
        text-align: center;
    }
    &__remove {
        padding-right: 0;
    }

    &__deletebtn {
        width: 60px;
        & img {
            margin-left: 0;
        }
    }
}

@media (max-width: 1200px) {
    .item {
        padding: 25px 0 50px 0;
        flex-direction: column;
        &__info {
            margin: 0;
        }
        &__quantity {
            border-left: none;
            padding-left: 0;
        }
        &__price {
            width: 240px;
            height: 60px;
        }
    }
}

@media (max-width: 555px) {
    .item {
        &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
        }
        &__description {
            width: 100%;
            font-weight: 300;
            font-size: 12px;
            line-height: 1.5;
            text-align: justify;
        }
        &__controls {
            justify-content: center;
            flex: 0 0 auto;
            width: 100%;
            & > * {
                border-left: 1px dashed rgba(63, 78, 101, 0.3);
                padding: 0 15px;
            }
        }
        &__quantity {
            flex: 0 0 auto;
            border-left: none;
            padding-left: 0;
        }
        &__incart {
            flex: 0 0 auto;
            & input {
                width: 40px;
            }
        }
        &__price {
            height: 60px;
            flex: 0 0 150px;
            width: 90px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.3;
        }
        &__remove {
            padding-right: 0;
        }
    }
}

@media (max-width: 440px) {
    .item {
        &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
        }
        &__description {
            width: 100%;
            font-weight: 300;
            font-size: 12px;
            line-height: 1.5;
            text-align: justify;
        }
        &__controls {
            justify-content: center;
        }
        &__quantity {
            width: 120px;
            border-left: none;
            padding-left: 0;
            justify-content: space-between;
        }
        &__incart {
            flex: 0 1 auto;
            width: 45px;
            & input {
                width: 45px;
            }
            & div {
                width: 100%;
            }
        }
        &__price {
            flex: 0 0 90px;
            width: 90px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.3;
        }
        &__remove {
            padding-right: 0;
        }
    }
}
